<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/admin/css/index.css' %}">
        <title>Mine</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Tasks</h1>
                {% if task_list|length == 0 %}
                    <p>You have no tasks</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Is Complete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assigned in task_list %}
                                <tr>
                                    <td>{{ assigned.name }}</td>
                                    <td>{{ assigned.start_date }}</td>
                                    <td>{{ assigned.end_date }}</td>
                                    <td>
                                        {% if is_completed is False %}
                                            <form method="post" action="{% url 'complete_task' task.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="is_completed" value="True">
                                                <button>Complete</button>
                                            {% else %}
                                                {{ assigned.is_completed }}
                                            </form>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
    </body>
</html>

{% comment %} .body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1em;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h1 {
    margin-bottom: 2em;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.th,
.td {
    border: 1px solid #333;
    padding: 0.5em 1em;
    text-align: left;
}

.th {
    background-color: #333;
    color: #fff;
}

.button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.button:hover {
    background-color: #fff;
    color: #333;
} {% endcomment %}
