<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mine</title>
</head>
<body>
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list|length == 0 %}
            <p>You have no tasks</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Is Complete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assigned in task_list %}
                    <tr>
                        <td>{{ assigned.name }}</td>
                        <td>{{ assigned.start_date }}</td>
                        <td>{{ assigned.end_date }}</td>
                        <td>
                        {% if is_completed is False %}
                        <form method="post" action="{% url 'complete_task' task.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="is_completed" value="True">

                        {% else %}
                            {{ assigned.is_completed }}
                        </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
