<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            <p><a href="{% url 'create_project' %}">Create project</p>
            {% if project_list|length == 0 %}
            <p>You are not assigned to any projects</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                    <tr>
                        <td><a href="{% url 'show_project' project.pk %}">{{ project.name }}</a></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
